<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>marvel.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0E85A26126554BC4005DA59C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E85A27A26554BC6005DA59C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E85A28526554BC6005DA59C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
